.country{
    margin: 20px;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 20px;
    

}
.country img{
    border-radius: 5px;
    border:3px solid crimson;
    padding: 2px;
    width: 200px;
    height: auto;
    
}